<mat-sidenav-container class="sidenav-container" [hasBackdrop]="true">
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div class="left-group">
                <span style="cursor: default">
                    Sail Away
                </span>
            </div>
            <div class="right-group">
                <button mat-raised-button class="btn" (click)="signIn()">
                    Sign In
                </button>
                <button mat-raised-button class="btn" (click)="signUp()">
                    Sign Up
                </button>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>