<div class="search-filter-container">
    <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput [(ngModel)]="searchText" [formControl]="searchControl" placeholder="Search" />
        <button mat-button matSuffix (click)="search()">
            <mat-icon>search</mat-icon>
        </button>
        <button mat-button matPrefix [matMenuTriggerFor]="filterMenu">
            <mat-icon>filter_list</mat-icon>
            Filters
        </button>
    </mat-form-field>

    <mat-menu #filterMenu="matMenu">
        <div class="menu-group">
            <h3>Sort by</h3>
            <mat-radio-group [(ngModel)]="selectedParameter" aria-label="Select an option">
                <mat-radio-button (click)="$event.stopPropagation()" value="pricePerDay">
                    Price per day
                </mat-radio-button>
                <mat-radio-button (click)="$event.stopPropagation()" value="rating">
                    Rating
                </mat-radio-button>
                <mat-radio-button (click)="$event.stopPropagation()" value="capacity">
                    Capacity
                </mat-radio-button>
                <mat-radio-button (click)="$event.stopPropagation()" value="yearBuilt">
                    Year built
                </mat-radio-button>
                <mat-radio-button (click)="$event.stopPropagation()" value="maxSpeed">
                    Max speed
                </mat-radio-button>
                <mat-radio-button (click)="$event.stopPropagation()" value="noCriteria">
                    No criteria
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <mat-divider></mat-divider>
        <div class="menu-group">
            <h3>Order</h3>
            <mat-radio-group [(ngModel)]="selectedOrder" aria-label="Select an option">
                <mat-radio-button (click)="$event.stopPropagation()" value="asc">
                    Ascending
                </mat-radio-button>
                <mat-radio-button (click)="$event.stopPropagation()" value="desc">
                    Descending
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <mat-divider></mat-divider>
        <div class="menu-group">
            <h3>Item type</h3>
            <mat-checkbox [(ngModel)]="filters.jetSki" (click)="$event.stopPropagation()">
                Jet Ski
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="filters.boat" (click)="$event.stopPropagation()">
                Boat
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="filters.cruiseShip" (click)="$event.stopPropagation()">
                Cruise Ship
            </mat-checkbox>
        </div>
        <mat-divider></mat-divider>
        <button class="applyFilters" mat-button (click)="search()">
            Apply Filters
        </button>
    </mat-menu>
</div>