<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="icon"></div>
        <mat-card-title class="cursor-pointer">
            Renting
        </mat-card-title>
        <mat-card-subtitle>
            {{ renting!.jetSki != null ? "JET SKI" : "BOAT" }}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-divider></mat-divider>
        <div class="row">
            <span class="label">Start date:</span>
            <span class="text">{{ renting!.startDate | date:'dd-MM-yyyy' }}</span>
        </div>

        <div class="row">
            <span class="label">End date:</span>
            <span class="text">{{ renting!.endDate | date:'dd-MM-yyyy' }}</span>
        </div>

        <div class="row">
            <span class="label">Cost:</span>
            <span class="text">{{ renting!.cost }}</span>
        </div>

        <div class="row">
            <span class="label">Rated:</span>
            <span class="text">{{ renting!.isRated }}</span>
        </div>
        <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
        <section class="section">
            <button mat-icon-button color="basic" (click)="rateRenting()">
                <mat-icon>thumb_up_alt</mat-icon>
            </button>
            <button mat-icon-button color="basic" (click)="deleteRenting()">
                <mat-icon>delete</mat-icon>
            </button>
        </section>
    </mat-card-actions>
</mat-card>