.container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.main-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    margin: auto;
    padding: 20px;
    padding: 20px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #7a9bd6, transparent);
}

.field {
    width: 100%;
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn {
    width: 40%;
    background-color: #C47C7F !important;
    color: white !important;
    font-weight: bolder;
    font-style: italic;
    float: right;
}

h2 {
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: bolder;
    font-style: italic;
    text-shadow: 0 0 15px rgb(2 0 3 / 97%);
    text-align: center;
    letter-spacing: 2px;
    color: white;
}

h3 {
    font-size: 16px;
    font-weight: bolder;
    font-style: italic;
    text-shadow: 0 0 15px rgb(2 0 3 / 97%);
    letter-spacing: 2px;
    color: white;
}

.add-button {
    color: white !important;
}

::ng-deep {
    html {
        --mat-stepper-container-color: transparent;
        --mat-stepper-header-label-text-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        --mat-stepper-header-selected-state-label-text-weight: bolder;
        --mdc-filled-text-field-disabled-container-color: transparent;
    }

    .mat-vertical-content {
        padding: 0 10px 10px 15px;
    }
}